body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  color:#fff
}

.form {
  color:#000;
}

button, input, select, textarea {
  color:#000;
    /* font-family: inherit; */
    font-size: inherit;
    line-height: inherit;
}

a {
  color:#fff;
}
a :hover {
  color:red;
}
